body{
    margin: 0;
    background-color: #2b2d30;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    padding: 0 8vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    min-width: calc(100%-8vw);
    max-width: calc(100%-8vw);
}
.MainHeading{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    white-space: wrap;
    min-width: calc(100%-8vw);
    max-width: calc(100%-8vw);
    overflow-x: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 3.5vw;
    padding-bottom: 3vw;
    color: white;
}
.NormalParagraph{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    white-space: wrap;
    min-width: calc(100%-8vw);
    max-width: calc(100%-8vw);
    overflow-x: hidden;
    padding-bottom: 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    color: darkgray;
}
.NormalHeading1{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    white-space: wrap;
    min-width: calc(100%-8vw);
    max-width: calc(100%-8vw);
    overflow-x: hidden;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-weight: 600;
    font-size: 2vw;
    color: white;
}
.NormalCodings{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-width: calc(100%-10vw);
    max-width: calc(100%-10vw);
    overflow-x: hidden;
    margin-bottom: 2vw;
    margin-top: 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    color: darkgray;
    background-color: #1e1f22;
    border-radius: 2vw;
    padding: 2vw;
}